# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env*.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
dist
.plasmo
next-env.d.ts

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
*.pem

# IDE
.idea
.vscode
!.vscode/extensions.json

# Storage
apify_storage
crawlee_storage
storage

# Expo
.expo/
dist/
apps/expo/.gitignore

# Production
build
ios
android

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log

# Editor directories and files
.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
apps/desktop/dist-electron/*
apps/desktop/release/*
apps/mobile/artifacts/*

# Test Coverage
playwright-report